.main-content {
  padding-top: 80px; /* Margen superior para evitar solapamiento con el header */
  padding-bottom: 80px; /* Margen inferior para evitar solapamiento con el footer */
}


.main-content {
  padding-top: 60px; /* Margen superior para evitar solapamiento con el header */
  padding-bottom: 60px; /* Margen inferior para evitar solapamiento con el footer */
  min-height: calc(100vh - 120px); /* Asegura que el contenido ocupe el espacio restante */
}